@import url('https://fonts.cdnfonts.com/css/public-pixel');
body {
    min-height: 100vh;
    min-width: 400px;
    margin: 0;
    /* overflow: hidden; */
    font-family: Roboto, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-color: #f34ada;
    background-image: url(./images/diagmonds-light.png);
    /* background-image: radial-gradient(#fff 10%, transparent 11%),
        radial-gradient(#fff 10%, transparent 11%); */
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
    background-repeat: repeat;

}

.gameboy {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    height: 558px;
    width: 388px;
    background-color: rgb(103, 78, 245);
    background-image: url(./images/bedge-grunge.png);
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.4);
    border-bottom-right-radius: 70px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;

}

.gameboy-screen {
    display: flex;
    justify-content: center;
    align-items: center;
}

.screen{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 25px;
    border: 26px ridge rgb(72, 68, 68) ;
    height: 220px;
    width: 288px;
    border-radius: 20px;
    background-color: rgb(46, 154, 50);
    background-image: url(./images/screen.png);
}

#result{
    font-family: 'Public Pixel', sans-serif;
    font-size: 13.5px;
    text-align: center;
}

.gameboy-btns {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border: 1px solid red; */
}

.arrows{
    display: flex;
    justify-self: center;
    align-self: center;
    height: 98px;
    width: 98px;
    padding: 20px 0 20px 60px;
    /* border: 1px solid black; */
    
}

.gameboy-btns-div{
    display: flex;
    justify-content: space-evenly;
    padding: 20px 20px 20px 0;
    margin: 25px 30px 25px 30px;
    width: 100%;
}

.gameboy-btns-div button {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    /* border: 2px groove rgb(72, 68, 68) ; */
    font-size: large;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
    border: none;
    font-family: 'Public Pixel', sans-serif;
    font-size: small;
}

#rock{
    background-color: rgb(244, 68, 164);
}
#rock:hover {background-color: rgb(215, 12, 124)}

#paper{
    background-color: rgb(0, 255, 106);
}
#paper:hover {background-color: rgb(11, 136, 63)}

#scissors{
    background-color: rgb(100, 57, 255);
}
#scissors:hover {background-color: rgb(55, 29, 147)}

.restart-div{
    display: flex;
    justify-content: center;
}

.restart-btn{
    border-radius: 35px;
    /* border: 2px groove rgb(72, 68, 68) ; */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
    color: aliceblue;
    background-color: rgb(72, 68, 68);
}

@media only screen and (max-width: 414px) {
    .container {
        min-height: 100vh;
        min-width: 100vw;
    }
    .gameboy {
        height: auto;
        width: 90%; 
    }

    .restart-btn {
        margin-bottom: 20px; 
    }
}
